/* Header */
.header {
    display: flex; /* Flexbox를 사용하여 요소를 나란히 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    margin: 20px 0;
}

.header img {
    width: 100px; /* 이미지 너비 조절 */
}

.header h1 {
    margin-left: 10px; /* 텍스트와 이미지 사이 간격 조정 */
    font-size: 24px; /* 헤더 제목 글자 크기 조절 */
}


/* Category */
.menu {
    background-color: #586555;
    text-align: center;
    margin-bottom: 20px;
}

.filter-button {
    background-color: white;
    color: black;
    padding: 15px 30px;
    margin: 30px 10px; /* 간격 조정 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.menu-button {
    background-color: transparent;
    color: white;
    padding: 15px 30px;
    margin: 30px 10px; /* 간격 조정 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Brand Header */
.brand-header {
    display: flex;
    justify-content: space-between; /* 양 끝 정렬 */
    align-items: center;
    margin-bottom: 20px;
}

.add-button {
    background-color: #586555;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Category Header */
.category-header {
    display: flex;
    justify-content: space-between; /* 양 끝 정렬 */
    align-items: center;
    margin-bottom: 20px;
}

/* Brand List */
.brand-list {
    margin: 0 auto;
    width: 80%;
}

.brand-list table {
    width: 100%;
    border-collapse: collapse;
}

.brand-list table, .brand-list th, .brand-list td {
    border: 1px solid #ddd;
}

.brand-list th, .brand-list td {
    padding: 10px;
    text-align: center;
}

.brand-list th {
    background-color: #f2f2f2;
    color: #333;
}

.brand-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Category List */
.category-list {
    margin: 0 auto;
    width: 80%;
}

.category-list table {
    width: 100%;
    border-collapse: collapse;
}

.category-list table, .category-list th, .category-list td {
    border: 1px solid #ddd;
}

.category-list th, .category-list td {
    padding: 10px;
    text-align: center;
}

.category-list th {
    background-color: #f2f2f2;
    color: #333;
}

.category-list tr:nth-child(even) {
    background-color: #f9f9f9;
}
